<section class="categories">  
  <div *ngIf="isLoading" class="overlay">
    <mat-spinner class="spinner" color="primary"></mat-spinner>
</div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-4 mt-5 mb-1" *ngFor="let category of categories; let i = index">
          <mat-card class="example-card" >
            <!-- <span> -->
              <img mat-card-image src="{{categoriesImages[i]}}" alt="...">
            <!-- </span> -->
            <mat-card-content>
              <h3 style="text-align:center">{{category}}</h3>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div> 
  </section>
  