<section class="header" mat-dialog-content>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="https://img.logoipsum.com/247.svg" />
      <a style="text-decoration: none" mat-button [routerLink]="'/'">
        <h1>Marketplace</h1>
      </a>
      <span class="menu-spacer"></span>
      <div>
        <button mat-button [matMenuTriggerFor]="menu" class="langs">
          {{ selectedLang }}
        </button>

        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            style="text-align: center !important"
            *ngFor="let lang of langList"
            (click)="toggleLang(lang)"
          >
            {{ lang.title }}
          </button>
        </mat-menu>
      </div>
      <button (click)="logout()" mat-button class="logout" *ngIf="isLoggedin">
        <mat-icon> logout </mat-icon>
        Logout
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</section>
