<section class="admin">  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 mt-5 mb-1">
        <mat-card class="example-card" (click)="navigateToCategories()">
            <img mat-card-image src="../../../../assets/img/marek-levak-KOID4ns1Ii4-unsplash.jpg" alt="...">
          <mat-card-content>
            <h3 style="text-align:center">Manage your categories</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-lg-4 mt-5 mb-1 text-center">
        <mat-card class="example-card " (click)="navigateProducts()">
          <img mat-card-image src="../../../../assets/img/agefis-vll0Bb04XTc-unsplash.jpg" alt="...">
          <mat-card-content class="test-center">
            <h3 style="text-align:center">Manage your products</h3>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div> 
</section>
