.login {
    max-width: 400px;
    margin: 100px auto;
    justify-content: center;

    .head {
        margin: 10px auto;
    }

    .filed {
        display: block;
        margin: 20px auto;
    }
}