.products {
    .arrow{
        font-size:14px;
        vertical-align: -webkit-baseline-middle;
        padding-left: 5px;
     }
     
    padding-bottom: 80px;
    .admin-area {
        position: absolute;
        right: 20px;
    }

}